<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Egg Incubator</title>

</head>

<body>
    <!--Header Start-->
    <header>
        <div class="left_area">
            <h3> Egg Incubator </h3>
        </div>
        <div cçass="right_area">
            <a href="{{ url_for('login') }}" class="logout_btn">Logout</a>
        </div>
    </header>
    <!--Header End-->

    <!--Sidebar Start-->
    <div class="sidebar">
        <center>
            <img class="profile_image" src="static/img/chick.jpg">
            <h4>Welcome {{g.user.name}}</h4>
        </center>
        <a href="{{ url_for('home') }}"><i class="fas fa-desktop"></i><span>Home</span></a>
        <a href="{{ url_for('components') }}"><i class="fas fa-cogs"></i><span>Components</span></a>
        <a href="{{ url_for('charts') }}"><i class="fas fa-chart-area"></i><span>Charts</span></a>
        <a href="{{ url_for('forms') }}"><i class="fas fa-th"></i><span>Forms</span></a>
        <a href="{{ url_for('settings') }}"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
        <a href="{{ url_for('about') }}"><i class="fas fa-info-circle"></i><span>About</span></a>
    </div>
    <!--Sidebar End-->

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

</body>
BELOWWWWWWWWWWWWW