<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--   <meta http-equiv="refresh" content="5" >-->
    <meta name="viewport" content="width=device-width, initial-scale=5.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js" integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Charts</title>

    <style>
    .dropDown {
        display:inline-block;
        position: relative;
     }
    .chartArea {
        width:85%;
        display:inline-block;
        position: relative;
        left: -60px;
     }
    </style>

</head>

{% extends 'base.html' %}

<body>


    {% block content %}

<div class="main">


        <h3>
            <form method="POST">
                {{ form.csrf_token }}
                {{ form.selectChart }}
                <input type="submit">
            </form>
        </h3>

    <div class="chartArea">  
    <canvas id="myChart" max-width="100" max-height="100"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ labels | safe }},
        datasets: [{
            label:  {{ titles[5] | safe }},
            data: {{ values1 | safe }},
            backgroundColor: [
                'rgba(255, 159, 64, 0.1)'
            ],
            borderColor: [
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 3
        },
        {
            label:  {{ titles[1] | safe }},
            data: {{ values2 | safe }},
            backgroundColor: [
                'rgba(0, 0, 0, 0.1)'
            ],
            borderColor: [
                'rgba(0, 0, 0, 1)'
            ],
            borderWidth: 3
        },
        {
            label:  {{ titles[0] | safe }},
            data: {{ values3 | safe }},
            backgroundColor: [
                'rgba(255, 255, 0, 0.1)'
            ],
            borderColor: [
                'rgba(255, 255, 0, 1)'
            ],
            borderWidth: 3
        },
        {
            label:  {{ titles[3] | safe }},
            data: {{ values4 | safe }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.1)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 3
        }
        ]
    },
    options: {
        responsive: true,
        maintainAspectRatio: true,
        scales: {
            y: {
                beginAtZero: false
            }
        }
    }
    });
    </script>
    </div>

</div>

{% endblock %}


</body>
</html>