<head>
    
    <title>Components</title>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/components.css">

    
</head>

{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}

<body>
    <script type="text/javascript">
        
        $(document).ready(function() {
        
            var socket = io();

            socket.on('message', function(data) {
                $("#messages").text(data);
                console.log(data);
            });

            socket.on('ds18b20', function(data) {
                $("#stamp").text(data.stamp);
                $("#temp").text(data.temp);
                $("#power").text(data.power);
                console.log('ds18b20');
                console.log(data);
            });

        });
        </script>
    <!-- <script type="text/javascript" charset="utf-8">
        // var timer = function() {
        // setTimeout(function(){ window.location.reload(); }, 1500);
        // };
        // timer();
        function isDisplayChecked() {
            // Get the checkbox
            var checkBox = document.getElementById("myCheck");
            // Get the output text
            var text = document.getElementById("text");
            // If the checkbox is checked, display the output text
            if (checkBox.checked == true){
              text.style.display = "block";
            } else {
              text.style.display = "none";
            }
          }
    </script> -->

    <div class='main'>

    <h1>

        <br />

        <h1>
            <!-- {{randomNumber}} -->

            <form class="form form-horizontal" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.rollEggs) }}
            <br />
            <br />
                {{ wtf.form_field(form.lampState) }}
            </form>
            <!-- <ul id="messages"></ul> -->

            Ultimo Update: <span id="stamp">{{ds18Timestamp}}</span>
            <br/>
            Temperatura: <span id="temp">{{ds18Temp}}</span> ºC
            <br/>
            Potencia: <span id="power">{{heaterPower}}</span> %

        
        </h1>
        
        <br />

        <!-- <label class="switch">
            <input type="checkbox" {{checked}}>
            <span class="slider round"></span>
        </label> -->
        Checkbox:   
        <input type="checkbox" {{checked}} id="myCheck" onclick="isDisplayChecked()">
        <p id="text" style="display:none">Checkbox is CHECKED!</p>
        <br />
        <br />

<!--           
        {{ wtf.quick_form(form) }}
         -->

        <!-- <h3>
        <form method="post">
            <input type ="submit" name="rollEggs" value="left">
            <br />
            <br />
            <input type ="submit" name="lampState" value="off">
        </form>
        </h3> -->

        <!-- <br />
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <br />
        <br />

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <br />
        <br />

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <br />
        <br />
        
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label> -->
    </h1>

    </div>

</body>


{% endblock %}

</html>