<head>
    
    <title>Components</title>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/components.css">

    
</head>

{% extends 'base.html' %}



{% block content %}

<body>
    <script type="text/javascript">
        
        $(document).ready(function() {
        
            var socket = io();

            socket.on('message', function(data) {
                $("#messages").text(data);
                console.log(data);
            });

            socket.on('ds18b20', function(data) {
                $("#stamp").text(data.stamp);
                $("#temp").text(data.temp);
                $("#power").text(data.power);
                // console.log('ds18b20');
                // console.log(data);
            });

            socket.on('DHT22', function(data) {
                $("#stampDHT").text(data.stampDHT);
                $("#tempDHT").text(data.tempDHT);
                $("#HumidityDHT").text(data.HumidityDHT);
                console.log('DHT22');
                console.log(data);
            });

            socket.on('DHT22ext', function(data) {
                $("#stampDHText").text(data.stampDHText);
                $("#tempDHText").text(data.tempDHText);
                $("#HumidityDHText").text(data.HumidityDHText);
                console.log('DHT22ext');
                console.log(data);
            });

        });
        </script>
    <!-- <script type="text/javascript" charset="utf-8">
        // var timer = function() {
        // setTimeout(function(){ window.location.reload(); }, 1500);
        // };
        // timer();
        function isDisplayChecked() {
            // Get the checkbox
            var checkBox = document.getElementById("myCheck");
            // Get the output text
            var text = document.getElementById("text");
            // If the checkbox is checked, display the output text
            if (checkBox.checked == true){
              text.style.display = "block";
            } else {
              text.style.display = "none";
            }
          }
    </script> -->

    <div class='main'>

    <h1>

        <!-- 
        <div class="boxed">
            This text is enclosed in a box.
        </div> -->

        <br />
        <h3>
            DS18B20: 
            <br/>
            Temperatura: <span id="temp">{{ds18b20Data.get('temp')}}</span> ºC
            <br/>
            Potencia: <span id="power">{{ds18b20Data.get('power')}}</span> %
            <h5>Ultimo Update: <span id="stamp">{{ds18b20Data.get('stamp')}}</span></h5>
        </h3>
        <hr>

        <h3>
            DHT22: 
            <br/>
            Temperatura: <span id="tempDHT">{{dht22Data.tempDHT}}</span> ºC
            <br/>
            Umidade: <span id="HumidityDHT">{{dht22Data.HumidityDHT}}</span> %
            <h5>Ultimo Update: <span id="stampDHT">{{dht22Data.stampDHT}}</span></h5>
        </h3>            
        <hr>

        <h3>
            DHT22 Externo: 
            <br/>
            Temperatura: <span id="tempDHText">{{dht22extData.tempDHText}}</span> ºC
            <br/>
            Umidade: <span id="HumidityDHText">{{dht22extData.HumidityDHText}}</span> %
            <h5>Ultimo Update: <span id="stampDHText">{{dht22extData.stampDHText}}</span></h5>
        </h3>               
        <hr>
            <br/>
            
            
                 

        
        
        
        <br />

        <!-- <label class="switch">
            <input type="checkbox" {{checked}}>
            <span class="slider round"></span>
        </label> -->
        <!-- Checkbox:   
        <input type="checkbox" {{checked}} id="myCheck" onclick="isDisplayChecked()">
        <p id="text" style="display:none">Checkbox is CHECKED!</p>
        <br />
        <br /> -->

        <!-- <br />
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <br />
        <br /> -->

    </h1>

    </div>

</body>


{% endblock %}

</html>