<head>
    
    <title>Components</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/components.css">

</head>

{% extends 'base.html' %}


{% block content %}

<body>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('message', 'I\'m connected!');
        });
    </script>


    <div class='main'>


    <h1>
        <br />
        Components
        <br />
        <br />
        
        
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <br />
        <br />

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <br />
        <br />

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <br />
        <br />
        
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </h1>

    </div>

</body>


{% endblock %}

</html>