<head>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   
    <title>Settings</title>

</head>

{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<body>



    <script type="text/javascript">
        

        $(document).ready(function() {
        
        var socket = io();

        

        imageContainer.setAttribute('src','static/img/piCameraImage.jpg');

        if(imageContainer.height == 0){                                       
        imageContainer.setAttribute('src','static/img/piCameraImage.jpg');
        }

        socket.on('cameraRefresh', function() {
            document.getElementById('imageContainer').src = "static/img/piCameraImage.jpg?random="+new Date().getTime();   
            socket.emit('CameraViwed','ImHere');
        });


        });
        </script>

        <br />

        <div style="display: inline-block;">
            <img id="imageContainer" ></img>

            <div style="text-align: center;">
            <br />
            
                <form class="form form-horizontal" method="post" role="form">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                    Rolar: {{ wtf.form_field(form.rollEggs) }}
                    
                    <span style="padding-left:20px">
                        
                    Iluminação: {{ wtf.form_field(form.lampState) }}
                </form>
            </div>

        </div>        


    <div class='main'>

    <h1>

        <div style="text-align:center">
        <!-- <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            Rolar: {{ wtf.form_field(form.rollEggs) }}
            
            <span style="padding-left:20px">
                
            Iluminação: {{ wtf.form_field(form.lampState) }}
        </form> -->
        </div>

        <!-- <br />
        Settings
        <br />
        <input type="range" min="1" max="100" value="50"> -->
    </h1>

    </div>

</body>

{% endblock %}

</html>
